/*Colores para el fondo blanco*/
:root {
    color-scheme: light dark;
    --color-fondo-page: light-dark(#F7F1E6, #211E1A);
    --color-fondo-card: light-dark(#FFFFFF, #2A2620);
    --color-bordes: light-dark(#E3D8C0, #3A352C);
    --color-texto: light-dark(#3B3221, #EDE9E0);
    --color-acento: light-dark(#C08A2E, #D9A536);
}

html.dark {/*Lo que se activa con el toggle de sol y luna*/
    color-scheme: dark;
}

html.light {
    color-scheme: light;
}